<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>lista-servlet</servlet-name>
    <servlet-class>servlets.ListaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lista-servlet</servlet-name>
    <url-pattern>/ListaElectrodomesticos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>agregar-electrodomestico</servlet-name>
    <servlet-class>servlets.AltaElectrodomesticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agregar-electrodomestico</servlet-name>
    <url-pattern>/AltaElectrodomestico</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guardar-electrodomestico</servlet-name>
    <servlet-class>servlets.GuardarElectrodomesticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guardar-electrodomestico</servlet-name>
    <url-pattern>/GuardarElectrodomestico.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modificar-electrodomestico</servlet-name>
    <servlet-class>servlets.ModificarElectrodomesticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificar-electrodomestico</servlet-name>
    <url-pattern>/ModificarElectrodomestico.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actualizar-electrodomestico</servlet-name>
    <servlet-class>servlets.ActualizarElectrodomesticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actualizar-electrodomestico</servlet-name>
    <url-pattern>/ActualizarElectrodomestico.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eliminar-electrodomestico</servlet-name>
    <servlet-class>servlets.EliminarElectrodomesticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminar-electrodomestico</servlet-name>
    <url-pattern>/EliminarElectrodomestico.do</url-pattern>
  </servlet-mapping>
</web-app>